body{
    background-image: url(/Images/BackgroundImage.png);
}

.heading {
    position: fixed;  
    top: 0;
    left: 0;

    width: 100%;
    height: 60px;

    background-color: rgb(68, 68, 255);
    color: white;

    display: flex;
    align-items: center;
    justify-content: center;

    z-index: 1000; 
}